@media (max-width: 1112px) {
  .main-c {
    scroll-behavior: smooth;
  }

  .info-list {
    margin-top: 20px;
  }
  .logoh {
    font-size: 1.4rem;
  }
  .navbar a {
    font-size: 1rem;
  }
  .main-c {
    scroll-padding-top: 55px;
  }
  .container {
    flex-direction: column;
  }
  .skill p {
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .skills-section {
    align-self: self-start;
    margin-top: 0px;
  }
  .about-section p {
    line-height: 1.4;
  }
  .skill {
    margin-bottom: 5px;
  }
  #projects {
    margin-top: 10px;
  }
  #about {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .section__text .title {
    font-size: 36px;
  }
  .section__text__p2 {
    font-size: 20px;
  }
  .btn {
   padding-block: 8px;
   padding-inline: 6px;
    width: 6.8rem;
    border-radius: 2rem;
  }

  .icon {
    height: 1.5rem;
  }
  .about-section h1 {
    font-size: 36px;
  }
  .about-section p {
    line-height: 1.4;
    font-size: 14px;
  }
  .info-list strong,
  li {
    font-size: 14px;
  }
  .skills-section h2 {
    font-size: 20px;
  }
  .skill p,
  strong {
    color: black;
    font-size: 14px;
  }
  .section__text__p1 {
    font-size: 13px;
  }
  .title {
    font-size: 36px;
  }

  .color-container {
    flex-grow: 1; /* Allow it to grow but maintain equal sizes */
    flex-basis: 250px; /* Set a fixed starting width */
    max-width: 250px; /* Prevent stretching beyond this */
    padding: 1rem;
  }
  .experience-sub-title {
    height: 70.5px;
  }

  .footer-item h3 {
    font-size: 19px;
  }

  .footer-item p {
    font-size: 14px;
  }

  .footer {
    margin-top: 10px;
  }
  .footer-container {
    gap: 25px;
  }

  .main-c {
    scroll-behavior: smooth;
  }
  .main-c {
    scroll-padding-top: 65px;
  }

  nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    right: -200px;
    top: 8px;
    padding: 24px;
    /* display: none; */
    transition: right 0.5s ease-in-out;
  }
  nav a + a {
    margin: 0;
    margin-top: 10px;
  }
  .menu-open nav {
    /* display: flex; */
    right: 24px;
  }
  .header-content {
    min-height: 50px;
  }

  header {
    background-color: #f6f0ebb7;
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    padding: 8px 24px;
  }
  .close-icon,
  .hamburger-menu-container {
    display: block;
  }
  .menu-open .hamburger-menu-container {
    display: none;
  }
  .logo {
    width: 40px;
  }
}


@media (min-width: 1112px) and (max-width: 1245px) {
 
  .skills-section h2 
  {
    margin-bottom: 55px;
    margin-top: 0;
  }
}