@media (max-width: 1112px) {
  .main-c {
    scroll-behavior: smooth;
  }

  .info-list {
    margin-top: 20px;
  }
  .logoh {
    font-size: 1.4rem;
  }
  .navbar a {
    font-size: 1rem;
  }
  .main-c {
    scroll-padding-top: 55px;
  }
  .container {
    flex-direction: column;
  }
  .skill p {
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .skills-section {
    margin-top: 0px;
  }
  .about-section p {
    line-height: 1.4;
  }
  .skill {
    margin-bottom: 5px;
  }
  #projects {
    margin-top: 10px;
  }
  #about {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .project-title
{
font-size: 20px;
}
  .section__text .title {
    font-size: 30px;
    text-align: center;
  }
  .section__text__p2 {
    font-size: 20px;
  }
  .btn {
   font-weight: 600;
  transition: all 300ms ease;
  padding: 0.7rem;
  border-radius: 2rem;
   white-space: nowrap;
   font-size: 12px;
  }
  .pb 
  {
 padding-block: 13px;
    padding-inline: 13px;
    width: 7.8rem;
    border-radius: 2rem;
   white-space: nowrap;
   font-size: 15px;
  }

  .icon {
    height: 1.5rem;
  }
  .about-section h1 {
    font-size: 30px;
    text-align: center;
  }
  .about-section p {
    line-height: 1.4;
    font-size: 14px;
  }
  .info-list strong,
  li {
    font-size: 14px;
  }
  .skills-section h2 {
    font-size: 20px;
  }
  .skills-section
  {
    /* margin-left: -41px; */

  }
  .skill .x
  {
    white-space: normal;

  }
  
.skill .o 
{
  margin-left: -3px;
}
.skill .t
{
  margin-left: 0px;
}
.skill .f
{
  margin-left:0px;
}

.skill .s
{
  margin-left :0px;
}



  
  .skill p,
  strong {
    color: black;
    font-size: 14px;
  }
  .section__text__p1 {
    font-size: 13px;
  }
  .title {
    font-size: 30px;
  }

  .color-container {
    flex-grow: 1; /* Allow it to grow but maintain equal sizes */
    flex-basis: 250px; /* Set a fixed starting width */
    max-width: 250px; /* Prevent stretching beyond this */
    padding: 1rem;
     min-width: 250px;
  }
  .experience-sub-title {
    height: 70.5px;
  }

  .footer-item h3 {
    font-size: 19px;
  }

  .footer-item p {
    font-size: 14px;
  }

  .footer {
    margin-top: 10px;
  }
  .footer-container {
    gap: 25px;
  }

  .main-c {
    scroll-behavior: smooth;
  }
  .main-c {
    scroll-padding-top: 65px;
  }
.navbar a 
{
  font-size: 0.8rem;
}
  nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    right: -200px;
    top: 8px;
    padding: 14px;
    border: 2px solid rgb(125, 120, 120);
    /* display: none; */
    transition: right 0.5s ease-in-out;
  }
  nav a + a {
    margin: 0;
    margin-top: 8px;
  }
  .menu-open nav {
    /* display: flex; */
    right: 24px;
  }
  .header-content {
    min-height: 50px;
  }

  header {
    background-color: #f6f0ebb7;
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    padding: 8px 24px;
  }
  .close-icon,
  .hamburger-menu-container {
    display: block;
  }
  .menu-open .hamburger-menu-container {
    display: none;
  }
  .logo {
    width: 40px;
  }

    .icon {
    height: 2.5rem;
  }
.project-title
{
font-size: 18px;
}
  .btn {
    padding-block: 14px;
    padding-inline: 14px;
  margin-top: 5px;
   font-size: 14px;
  }
  .pb 
  {
 padding-block: 13px;
    padding-inline: 13px;
    
   font-size: 16px;
  }
  .skills-section 

  {text-align: center;}
  .color-container
  {
    min-width: 240px;
  }
   .icon-lin
  {
    height: 38px;
  }
}

@media (max-width: 460px) { 
    .experience-sub-title {
    height: 45.5px;
  }
  nav a + a {
    margin: 0;
    margin-top: 6px;
  }
.navbar a 
{
  font-size: 0.6rem;
}
.skill p {
    white-space: normal;
    word-wrap: break-word;
  }

.title
{
  font-size: 1.7rem;
}
.certify 
{
  white-space: nowrap;
}
  .icon {
    height: 2.5rem;
  }
.project-title
{
font-size: 18px;
}
  .btn {
    padding-block: 14px;
    padding-inline: 14px;
  margin-top: 5px;
   font-size: 14px;
  }
  .pb 
  {
 padding-block: 13px;
    padding-inline: 13px;
    
   font-size: 16px;
  }
  .skills-section 

  {text-align: center;}
  .color-container
  {
    min-width: 240px;
  }
  .icon-lin
  {
    height: 38px;
  }

}

@media (min-width: 1112px) and (max-width: 1245px) {
  .skills-section h2 {
    margin-bottom: 55px;
    margin-top: 0;
  }
}


@media (min-width: 1240px)  {
 .about-section
{
  margin-top: -20px;
 
}
.skills-section
{
   margin-top: 10px;
}
}